<div class="card text-center my-2">
    <% if notice %>
    <!-- <p class="alert alert-success"><%= notice %></p> -->
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= notice %>
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
    <% end %>
    <div class="card-header">
        <%= @post.topic%>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @post.content%></h5>
      <p class="card-text"><%= @post.author%></p>
      <a href="/posts" class="btn btn-secondary">Return</a>
    </div>
    <div class="card-footer text-muted">
        <%= @post.updated_at%>
    </div>
  </div>